html {
  scroll-behavior: smooth;
  display: table;
  width: 100%;
  -ms-content-zooming: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  justify-content: center;
  background-color: #1f1f20;
  overflow-x: hidden;
}
section {
  max-width: 3001px;
  margin: auto;
}
a {
  text-decoration: none;
}

/*preloader*/
.preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: #1f1f20;
}

/*hide preloader*/
.hidepreloader {
  z-index: -999;
  visibility: hidden;
  transition-delay: 1s;
}

.preloading {
  width: 5rem;
}

/*nav style mobile view*/
nav {
   z-index: 9999;
  position: fixed;
    bottom: 1px;
    width: 100%;
  text-align: center;
  background-color: #202022;
}

.nav-container {
   
  justify-content: center;
  box-shadow: rgb(2 2 2) 0px 0px 20px 1px;
  padding: 0.5rem;
}

/*button nav*/
.nav-btn {
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  border-color: transparent;
}

/*link style mobile view*/
.hoverlink {
  padding: 0.9rem;
  margin: 10px;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}

.active a {
  padding-bottom: 1rem;
  background-color: #db9b07;
  border-radius: 10px 10px 5px 5px;
  transition: ease 0.5s;
}


.fa-calendar ,.fa-house-user {
  -webkit-animation: bounce-top 3.2s ease-out infinite alternate-reverse both;
  animation: bounce-top 3.2s ease-out infinite alternate-reverse both;
}
.fa-key ,.fa-train-subway,.fa-street-view , .fa-envelope{
  -webkit-animation: bounce-top 3.8s ease-out infinite alternate-reverse both;
  animation: bounce-top 3.8s ease-out infinite alternate-reverse both;
}
.fa-person-walking-luggage ,.fa-map-location-dot {
  -webkit-animation: bounce-top 3.6s ease-out infinite alternate-reverse both;
  animation: bounce-top 3.6s ease-out infinite alternate-reverse both;
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/*end link style mobile view*/
/* end of nav style mobile view*/

.social {
  display: flex;
}

/* social icon*/
.social-logo {
  padding-top: 1.8rem;
  text-decoration: none;
  padding-left: 1rem;
  color: #db9b07;
  font-size: 1.5rem;
  display: flex;
}
.social-logo:hover {
  transform: scale(1.2);
  transition: ease 0.9s;
}

/*social logo animation*/
.l1 {
  animation: bounce2 3s ease;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.l2 {
  animation: bounce2 3.5s ease;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.l3 {
  animation: bounce2 4s ease;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

/*all social homepage animation*/
.fa-bands {
  -webkit-animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s
    both;
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}

/* img logo homepage*/

.logo1 {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* img logo homepage slide*/
.slide-top {
  width: 20rem;
  transition: ease 1s;
}

/* img logo homepage slide*/
.logo1 {
  -webkit-animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s
    both;
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* end img logo homepage slide*/

/* text  homepage */
.animated-text {
  text-align: center;
  width: 100%;
  color: rgb(252, 252, 253);
}

h1 {
  padding-top: 1rem;
  font-size: 2.8rem;
  letter-spacing: 1px;
}

h1 span {
  color: #db9b07;
}

.h2 {
  padding-top: 25px;
  font-size: 2rem;
}

.abouthomepage {
  padding-top: 10px;
  font-size: 1.1rem;
  margin-left: 20px;
  margin-right: 20px;
}

p span {
  color: #db9b07;
}
.bottomhomepage {
  position: fixed;
    bottom: 15px;
    width: 100%;
  color:#db9b07;
}
.bottomhomepage2{
  color:#ffffff;
   position: fixed;
    bottom: 0px;
    width: 100%;
}

/*section for all*/
.section1 {
  padding-top: 2rem;
  overflow-x: hidden;
}

/* section2 details home */

#section2 a {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #008080;
  color: #fff;
  padding: 10px 25px;
  margin: 20px auto;
}
#section2 i{
  color: #db9b07;
  font-size: 28px;
  padding-left: 15px;
}

.modalDialog {
  padding: 5px;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px 5px 5px 5px;
  background: #ffffff;
}

.close {
  padding: 0;
  color: black;
  line-height: 20px;
  position: absolute;
  right: 19px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  background: none;
  font-weight: bold;
}

.close:hover {
  color: #ea4436;
}
video {
  width: 100%;
  height: 550px;
}

#section2 h4 a{
  background-color:transparent;
  padding: 0%;
  margin-left:-5%;
}
#section2 .h4lugagge{
 font-size: 1.2rem;
 padding: 10px;
}
#section2 h4{
 font-size: 1.05rem;
 padding: 5px;
}

#section2 #modal-4 img{
margin-top: -8%;
 width: 90%;
 height: 38vh;
 object-fit:contain;
}

#section2 p span {
  padding: 15px;
  font-size: 2rem;
  font-weight: 600;
}

/*section3 nearby*/

#section3 {
 height: 105vh;
  text-align: center;
  justify-content: center;
  display: inline-block;
  overflow: hidden;
}

#section3 h3 {
  color: #87826de4;
  padding: 5px;
  font-size: 1.1rem;
}
#section3 {
  font-size: 0.9rem;
}

.test,
.test1,
.test2,
.test3,
.test4 {
  text-align: center;
  width: 100%;
  margin: 10px;
  margin-top: 10px;
}
#section3 div a {
  margin-left: 20px;
  padding: 5px;
}
#section3 p span {
  padding: 15px;
  font-size: 2rem;
  font-weight: 600;
}
#section3 i {
  font-size: 1.1rem;
  padding: 5px;
  color: #db9b07;
}

.test a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}

.test a i {
  font-size: 1rem;
}
.test1 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test1 a i {
  font-size: 1rem;
}
.test2 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test2 a i {
  font-size: 1rem;
}
.test3 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test3 a i {
  font-size: 1rem;
}
.test4 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test4 a i {
  font-size: 1rem;
}
.test {
  -webkit-animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test1 {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test2 {
  -webkit-animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test3 {
  -webkit-animation: slide-in-left 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test4 {
  -webkit-animation: slide-in-left 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*section4 contact*/
.contacttext {
  font-size: 3rem;
  color: #db9b076e;
}

/*contact heading*/
.contacttext {
  -webkit-animation: jello-horizontal 1s 0.8s both;
  animation: jello-horizontal 1s 0.8s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*container*/
.contacticon {
  position: relative;
  padding: 10px;
}

/*img contact mobile*/
.cellimage {
  width: 60%;
}

/*pc img hiden*/

.example {
  position: absolute;
  top: 90px;
  left: 110px;
  padding: 5px;
  width: 45%;
}

.example i {
  font-size: 2rem;
  padding: 8px;
  padding-top: 40px;
}

.example p {
  padding-top: 80px;
}

.footer {
  padding-top: 25px;
  font-size: 1.5rem;
  margin-left: 30px;
  margin-right: 30px;
}

.footer p {
  color: white;
  font-weight: 900;
  font-size: 1.6rem;
}

.example a .fa-whatsapp {
  color: #008000;
  animation: bounce2 2s ease infinite;
}

.example a .fa-instagram {
  color: #c71585;
  animation: bounce2 2.4s ease infinite;
}

.example a .fa-facebook {
  color: #212194;
  animation: bounce2 3s ease infinite;
}

@media screen and (max-width: 365px) {
  .hoverlink {
    padding: 0.5rem;
    margin: 14px;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
  }

  .button {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    margin: 4px;
  }

  .active a {
    padding: 0.8rem;
    padding-bottom: 1.1rem;
  }

  /*section2 about text*/
  .abouttext {
    margin-left: 1.5rem;
    font-size: 3.8rem;
  }

  /*section3 my project txt*/


  /*section4 my project txt*/
  .contacttext {
    font-size: 3.4rem;
    color: #db9b076e;
  }

  .cellimage {
    width: 65%;
  }

  .example {
    position: absolute;
    top: 60px;
    left: 105px;
    padding: 5px;
    width: 40%;
  }

  .example i {
    font-size: 2rem;
    padding: 8px;
    padding-top: 20px;
  }

  .example p {
    padding-top: 70px;
  }

  .nav-container1 {
    display: none;
  }

  .pcimage {
    display: none;
  }
}

@media screen and (max-width: 419px) and (min-width: 366px) {
  .pcimage {
    display: none;
  }

  .nav-container1 {
    display: none;
  }
}

@media screen and (max-width: 479px) and (min-width: 420px) {
  .abouttext {
    margin-left: 3.9rem;
  }

  .example {
    position: absolute;
    top: 80px;
    left: 135px;
    padding: 12px;
    width: 40%;
  }

  .example i {
    font-size: 2.3rem;
    padding: 15px;
    padding-top: 30px;
  }

  .example p {
    padding-top: 70px;
  }

  .nav-container1 {
    display: none;
  }

  .pcimage {
    display: none;
  }
}

@media screen and (max-width: 539px) and (min-width: 480px) {
  .hoverlink {
    padding: 0.8rem;
    margin: 20px;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
  }

  .abouttext {
    margin-left: 4.8rem;
    font-size: 5rem;
  }

  .example {
    position: absolute;
    top: 80px;
    left: 155px;
    padding: 12px;
    width: 40%;
  }

  .example i {
    font-size: 2.3rem;
    padding: 15px;
    padding-top: 30px;
  }

  .example p {
    padding-top: 70px;
  }

  .nav-container1 {
    display: none;
  }

  .pcimage {
    display: none;
  }
}

@media screen and (max-width: 600px) and (min-width: 540px) {
  .hoverlink {
    padding: 1rem;
    margin: 20px;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
  }

  .abouttext {
    margin-left: 5.8rem;
    font-size: 5rem;
  }

  .example {
    position: absolute;
    top: 110px;
    left: 170px;
    padding: 12px;
    width: 42%;
  }

  .example i {
    font-size: 2.5rem;
    padding: 12px;
    padding-top: 30px;
  }

  .pcimage {
    display: none;
  }

  .cellimage {
    width: 50%;
  }

  .example p {
    padding-top: 160px;
  }

  .nav-container1 {
    display: none;
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .nav-container1 {
    display: none;
  }

  .hoverlink {
    padding: 1.5rem;
    margin: 20px;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
  }

  .active a {
    padding-bottom: 1.6rem;
    background-color: #db9b07;
    border-radius: 0px 0px 10px 10px;
    transition: ease 0.5s;
  }

  .slide-top {
    width: 21rem;
    transition: ease 1s;
  }

  .abouttext {
    margin-left: 8.5rem;
    font-size: 6rem;
  }

  .contacttext {
    font-size: 5rem;
  }

  .worktext {
    font-size: 5rem;
    margin-bottom: 4rem;
  }

  .example {
    position: absolute;
    top: 90px;
    left: 220px;
    padding: 15px;
    width: 35%;
  }

  .example i {
    font-size: 2.5rem;
    padding: 15px;
    padding-top: 50px;
  }

  .pcimage {
    display: none;
  }

  .cellimage {
    width: 50%;
  }

  .example p {
    padding-top: 50px;
  }

  .nav-container1 {
    display: none;
  }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
  nav {
    text-align: center;
    background-color: #04040524;
  }

  .nav-container {
    display: none;
  }

  .nav-container1 {
    justify-content: left;
    box-shadow: rgb(2 2 2) 0px 0px 20px 1px;
    padding: 1.2rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-btn1 {
    padding-top: 1rem;
    display: inline;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
  }

  /*link style mobile view*/
  .hoverlink1 {
    padding: 1.9rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  .hoverlink1:hover {
    color: #db9b0750;
    transition: ease 0.9s;
  }

  .active1 .hoverlink1 {
    padding: 1.9rem;
    border-bottom: solid #db9b07;
    border-radius: 10px 10px 10px 10px;
    transition: ease 0.9s;
  }

  .slide-top {
    width: 25rem;
  }

  /* social icon*/
  .social-logo {
    padding-top: 3rem;
    padding-left: 3rem;
    font-size: 1.5rem;
  }

  .abouttext {
    margin-left: 2rem;
    font-size: 6rem;
    color: #db9b076e;
    position: relative;
  }

  .h2aboutwork {
    padding-top: 11rem;
  }

  .worktext {
    font-size: 5rem;
    margin-bottom: 4rem;
  }

  .contacttext {
    font-size: 5rem;
  }

  .imgabout {
    width: 30%;
  }

  .cellimage {
    display: none;
  }

  .pcimage {
    width: 65%;
  }

  .example {
    position: absolute;
    top: 20px;
    left: 18rem;
    padding: 15px;
    width: 30%;
  }

  .example i {
    font-size: 2.1rem;
    padding: 15px;
    padding-top: 45px;
  }

  .example p {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .nav-container {
    display: none;
  }

  .nav-container1 {
    justify-content: left;
    box-shadow: rgb(2 2 2) 0px 0px 20px 1px;
    padding: 1.4rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-btn1 {
    padding-top: 1rem;
    display: inline;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
  }

  /*link style mobile view*/
  .hoverlink1 {
    padding: 1.9rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
  }
  .hoverlink1:hover {
    color: #db9b0750;
    transition: ease 0.9s;
  }

  .active1 .hoverlink1 {
    padding: 2rem;
    border-bottom: solid #db9b07;
    border-radius: 10px 10px 10px 10px;
    transition: ease 0.9s;
  }

  .slide-top {
    width: 25rem;
  }

  /* social icon*/
  .social-logo {
    padding-top: 3rem;
    padding-left: 3rem;
    font-size: 1.5rem;
  }

  /* about me txt */
  .abouttext {
    margin-left: 1.8rem;
    font-size: 6.2rem;
    color: #db9b076e;
    position: relative;
  }

  .abouthomepage {
    font-size: 25px;
  }

  /* about img */
  .imgabout {
    width: 20%;
  }

  /* about me descriprion h2 */
  .h2aboutname {
    font-size: 3rem;
  }

  .h1aboutname {
    font-size: 4rem;
  }

  .h2aboutwork {
    padding-top: 12rem;
  }

  .abouttext {
    -webkit-animation: jello-horizontal 1s 0.8s both;
    animation: jello-horizontal 1s 0.8s both;
  }

  .about-me {
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me1 {
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    width: 30%;
    padding: 10px;
  }

  .worktext {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .stacks p {
    font-size: 25px;
  }

  .skills p {
    font-size: 25px;
  }

  .contacttext {
    font-size: 5rem;
  }

  .cellimage {
    display: none;
  }

  .pcimage {
    width: 60%;
  }

  .example {
    position: absolute;
    top: 60px;
    left: 17rem;
    padding: 15px;
    width: 45%;
  }

  .example i {
    font-size: 2rem;
    padding: 15px;
    padding-top: 45px;
  }

  .example p {
    padding-top: 50px;
  }

  .footer p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1201px) {
  .nav-container {
    display: none;
  }

  .nav-container1 {
    justify-content: left;
    box-shadow: rgb(2 2 2) 0px 0px 20px 1px;
    padding: 1.4rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-btn1 {
    padding-top: 1rem;
    display: inline;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
  }

  /*link style mobile view*/
  .hoverlink1 {
    padding: 1.9rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
  }
  .hoverlink1:hover {
    color: #db9b0750;
    transition: ease 0.9s;
  }

  .active1 .hoverlink1 {
    padding: 2rem;
    border-bottom: solid #db9b07;
    border-radius: 10px 10px 10px 10px;
    transition: ease 0.9s;
  }

  .slide-top {
    width: 25rem;
  }

  /* social icon*/
  .social-logo {
    padding-top: 3rem;
    padding-left: 3rem;
    font-size: 1.5rem;
  }

  .abouthomepage {
    font-size: 25px;
  }

  /* about me txt */
  .abouttext {
    margin-left: 1.8rem;
    font-size: 6rem;
    color: #db9b076e;
    position: relative;
  }

  /* about img */
  .imgabout {
    width: 20%;
  }

  .button {
    width: 30%;
    padding: 10px;
  }

  .about-me {
    font-size: 25px;
  }

  .about-me1 {
    font-size: 25px;
  }

  /* about me descriprion h2 */
  .h2aboutname {
    font-size: 3rem;
  }

  .h1aboutname {
    font-size: 4rem;
  }

  .h2aboutwork {
    padding-top: 13rem;
  }
  .skills p {
    font-size: 28px;
  }
  .stacks p {
    font-size: 25px;
  }

  .abouttext {
    -webkit-animation: jello-horizontal 1s 0.8s both;
    animation: jello-horizontal 1s 0.8s both;
  }

  .about-me {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .worktext {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .contacttext {
    font-size: 5rem;
  }

  .cellimage {
    display: none;
  }

  .pcimage {
    width: 55%;
  }

  .example {
    position: absolute;
    top: 90px;
    left: 22rem;
    padding: 15px;
    width: 45%;
  }

  .example i {
    font-size: 2.4rem;
    padding: 15px;
    padding-top: 45px;
  }

  .example p {
    padding-top: 50px;
  }

  .footer p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1501px) {
  nav {
    text-align: center;
    background-color: #04040524;
  }

  .nav-container {
    display: none;
  }

  .nav-container1 {
    justify-content: left;
    box-shadow: rgb(2 2 2) 0px 0px 20px 1px;
    padding: 1.8rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-btn1 {
    padding-top: 1rem;
    display: inline;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
  }

  /*link style mobile view*/
  .hoverlink1 {
    padding: 1.9rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
  }
  .hoverlink1:hover {
    color: #db9b0750;
    transition: ease 0.9s;
  }

  .active1 .hoverlink1 {
    padding: 2rem;
    border-bottom: solid #db9b07;
    border-radius: 10px 10px 10px 10px;
    transition: ease 0.9s;
  }

  .slide-top {
    width: 30rem;
  }

  /* social icon*/
  .social-logo {
    padding-top: 3rem;
    padding-left: 5rem;
    font-size: 1.8rem;
  }
  .abouthomepage {
    font-size: 25px;
  }

  /* about me txt */
  .abouttext {
    margin-left: 1.8rem;
    font-size: 6rem;
    color: #db9b076e;
    position: relative;
  }

  /* about img */
  .imgabout {
    width: 16%;
  }

  /* about me descriprion h2 */
  .h2aboutname {
    font-size: 3rem;
  }

  .h1aboutname {
    font-size: 4rem;
  }

  .h2aboutwork {
    padding-top: 13rem;
  }
  .button {
    width: 30%;
    padding: 10px;
  }

  .about-me {
    font-size: 25px;
  }

  .about-me1 {
    font-size: 25px;
  }

  .abouttext {
    -webkit-animation: jello-horizontal 1s 0.8s both;
    animation: jello-horizontal 1s 0.8s both;
  }

  .about-me {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .worktext {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  .skills p {
    font-size: 28px;
  }
  .stacks p {
    font-size: 25px;
  }
  .btn {
    font-size: 20px;
    padding: 15px 25px;
  }

  .contacttext {
    font-size: 5rem;
  }

  .cellimage {
    display: none;
  }

  .pcimage {
    width: 50%;
  }

  .example {
    position: absolute;
    top: 110px;
    left: 27.9rem;
    padding: 15px;
    width: 45%;
  }

  .example i {
    font-size: 2.9rem;
    padding: 15px;
    padding-top: 45px;
  }

  .example p {
    padding-top: 140px;
  }

  .footer p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 3001px) and (min-width: 2001px) {
  nav {
    text-align: center;
    background-color: #04040524;
  }

  .nav-container {
    display: none;
  }

  .nav-container1 {
    justify-content: left;
    box-shadow: rgb(2 2 2) 0px 0px 20px 1px;
    padding: 2rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-btn1 {
    padding-top: 1rem;
    display: inline;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
  }

  /*link style mobile view*/
  .hoverlink1 {
    padding: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
  }
  .hoverlink1:hover {
    color: #db9b0750;
    transition: ease 0.9s;
  }

  .active1 .hoverlink1 {
    padding: 1.8rem;
    border-bottom: solid #db9b07;
    border-radius: 20px 20px;
    transition: ease 0.9s;
  }

  .slide-top {
    width: 30rem;
  }

  /* social icon*/
  .social-logo {
    padding-top: 3rem;
    padding-left: 8rem;
    font-size: 1.8rem;
  }
  .abouthomepage {
    font-size: 25px;
  }
  .button {
    width: 20%;
    padding: 10px;
  }

  /* about me txt */
  .abouttext {
    margin-left: 1.8rem;
    font-size: 6rem;
    color: #db9b076e;
    position: relative;
  }

  /* about img */
  .imgabout {
    width: 14%;
  }

  /* about me descriprion h2 */
  .h2aboutname {
    font-size: 3rem;
  }

  .h1aboutname {
    font-size: 4rem;
  }

  .h2aboutwork {
    padding-top: 11rem;
  }

  .abouttext {
    -webkit-animation: jello-horizontal 1s 0.8s both;
    animation: jello-horizontal 1s 0.8s both;
  }

  .about-me {
    font-size: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me1 {
    font-size: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .skills p {
    font-size: 28px;
  }
  .stacks p {
    font-size: 25px;
  }

  .worktext {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .contacttext {
    font-size: 5rem;
  }

  .btn {
    font-size: 20px;
    padding: 15px 25px;
  }

  .cellimage {
    display: none;
  }

  .pcimage {
    width: 50%;
  }

  .example {
    position: absolute;
    top: 150px;
    left: 25%;
    padding: 15px;
    width: 45%;
  }

  .example i {
    font-size: 2.7rem;
    padding: 15px;
    padding-top: 45px;
  }

  .example p {
    padding-top: 150px;
  }

  .footer p {
    font-size: 2rem;
    padding-bottom: 50px;
  }
}
